

body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  font-family: "Goudy Bookletter 1911", sans-serif;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#submit-button {

}

#booking-form {

}

.booking-calendar {
  display:block;
}

label {
    display: block;
    font-size: 1rem;
}

input,
label {
    margin: .4rem 0;
}

.card {
  display: flex;
  flex-direction: column;
}

.container{

}

.card-container {

}
.avail-rooms {

}
